@font-face {
  font-family: 'base-icons';
  src:  url('../fonts/base-icons/base-icons.eot?7mp5v5');
  src:  url('../fonts/base-icons/base-icons.eot?7mp5v5#iefix') format('embedded-opentype'),
    url('../fonts/base-icons/base-icons.ttf?7mp5v5') format('truetype'),
    url('../fonts/base-icons/base-icons.woff?7mp5v5') format('woff'),
    url('../fonts/base-icons/base-icons.svg?7mp5v5#base-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="base-icon-"], [class*=" base-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'base-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.base-icon-ui-outline-1_circle-remove:before {
  content: "\ecf5";
}
.base-icon-ui-outline-2_time:before {
  content: "\ed91";
}
.base-icon-ui-outline-3_alert:before {
  content: "\ed95";
}
.base-icon-text-glyph_caps-small:before {
  content: "\ed05";
}
.base-icon-ui-glyph-1_check:before {
  content: "\ed43";
}
.base-icon-ui-glyph-1_lock:before {
  content: "\ed69";
}
.base-icon-ui-glyph-2_favourite-31:before {
  content: "\edb0";
}

