@import "../../assets/_vars.scss";

.aba-error {
    display: table;
    //padding-top: 15px;
    width: 100%;
    @media only screen and (min-width: $screen-min-size-desktop) {
        min-height: 320px;
    }

    .error-container {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        padding: 20px;

        .error-icon {
            display: inline-block;
            color: $color-red;
            font-size: 50px;
        }

        .error-text {
            color: $color-dark-blue;
            font-size: 18px;
            max-width: 309px;
            text-align: center;
            line-height: 20px;
            margin: 6px auto 10px auto;
            white-space: pre;
        }

        .error-button {
            min-width: 120px;
            margin-top: 10px;
            padding: 2px 50px 2px 50px;
            line-height: 40px;
            color: $color-blue;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: $font-weight-medium;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            border: solid $color-blue 1px;
            background-color: transparent;
            text-align: center;
        }
    }
}
