@import "../../assets/_vars.scss";

.testComponent {
    background-color: $color-white;

    &-button {
        background-color: $color-blue;
        border-radius: 5px;
        color: $color-white;
        font-size: 20px;
        padding: 10px 15px;
    }

    &-icon {

    }

    &-text {
        margin-left: 5px;
    }
}
