// Load in our compiled SCSS variables

@import 'sprite.css';

@import '../assets/vars';

/* aba style guide */

body {
    color: $color-dark-blue;
    font-family: $font-family-base;
    min-width: $screen-min-size-mobile;

    & > img { /* images directly appended to the body must only be from pixels */
        bottom: 0;
        height: 0;
        left: -10000px;
        position: absolute;
        width: 0;
        z-index: 0;
    }
}

section {
    clear: both;
}

ul, dl {
    list-style: none;
    margin: 0;
    padding: 0;
}

.section-title {
    color: $color-dark-blue;
    font-family: $font-family-slab;
    font-size: 16px;
    font-weight: $font-weight-medium;
    line-height: 16px;
    padding: 20px 0;
    text-align: center;
    @media only screen and (min-width: $screen-min-size-tablet) {
        font-size: 20px;
    }
}

.page-container {
    background-color: $color-white;
    overflow: auto;
}

.app-container, .page-container {
    max-width: $screen-min-size-desktop;
    margin: 0 auto;
    position: relative;
    z-index: 100;

    .page-inner-container {
        background-color: $color-white;
        padding: 20px 0;
    }
}

.link {
    color: $color-blue;
    cursor: pointer;

    &:hover {
        color: darken($color-blue, 10%);
        text-decoration: none;
    }
}





