/* aba style guide */


@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');

$font-family-base: 'Roboto', sans-serif;
$font-family-slab: 'Montserrat', serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semiBold: 600;
$font-weight-bold: 700;

$screen-min-size-mobile: 320px;
$screen-max-size-mobile: 767px;
$screen-min-size-tablet: 768px;
$screen-max-size-tablet: 991px;
$screen-min-size-desktop: 992px;

$color-black: #000000;
$color-white: #ffffff;
$color-blue: #07bbe4;
$color-grey: #e1dfdc;
$color-red: #de2c3c;
$color-dark-blue: #42505a;
$color-dark-grey: #92908a;
$color-dark-red: #78131c;
$color-light-grey: #f0f0f0;

$color-social-twitter: #1da1f2;
$color-social-linkedin: #1d76bc;
$color-social-facebook: #36578d;
$color-social-soundcloud: #f50;
$color-social-youtube: #cc181e;
$color-social-blog: $color-dark-blue;
